.mask{
	position: fixed;
	background: #000;
	top: 0;
	left: 0;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.modal-close{
	cursor: pointer;
	position: absolute;
	display: block;
	top: 10px;
	right: 10px;
}
.modal-window{
	z-index: 1000;
	position: fixed;
	top:0;
	left:0px;
	background: #fff;
	display: none;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	@media screen and (min-width: 800px) {
		width: 590px;
		height: auto;
	}
	.popup-title{

	}

}
#thanks{
	text-align: center;
	.popup-title{
		margin-top: 20px;
	}
	
}
.popup-title{
	color: #24242d;
	font-size: 24px;
	padding-bottom: 18px;
}